.countdown-timer-container {
    text-align: center;
    margin: 50px auto;
    width: 40%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-container input {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-container input:focus {
    border-color: #4caf50;
  }
  
  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #timer {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  button {
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
  